
<div *ngIf="authService.currentUser$ | async as user; else notLoggedIn">
  <!-- Toolbar on left side of screen -->
  <div class="fixed top-4 left-4 z-50">
    <app-toolbar></app-toolbar>
  </div>
  
  <!-- Auth widget on right side of screen -->
  <div class="fixed top-4 right-4 z-50">
    <app-auth-widget class="flex-shrink-0"></app-auth-widget>
  </div>
  <app-map-view></app-map-view>
</div>
<ng-template #notLoggedIn>
  <app-home></app-home>
  <!-- For non-logged in state, we need the theme toggle in the corner -->
  <div class="fixed right-5 top-5 z-50 theme-button border rounded-md shadow-sm bg-black/20 backdrop-blur-md">
    <app-theme-toggle></app-theme-toggle>
  </div>
</ng-template>
